* {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background-image: url(https://4kwallpapers.com/images/walls/thumbs_3t/19798.jpg);
    background-size: cover;
}

#Box {
    position: absolute;
    left: 37%;
    background-color: 255, 255, 255, 0.3;
    height: 48%;
    width: 23.3%;
    top: 21%;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgb(0, 0, 0);
    transition: 0.8s ease;
}

#Box:hover {
    backdrop-filter: blur(5px);
}

#Logbutton {
    position: absolute;
    left: 37.8%;
    top: 49%;
    background: linear-gradient(to right, #9caee2, #b9c5ec);
    height: 4.5%;
    width: 21.4%;
    text-align: center;
    display: grid;
    place-items: center;
    border-radius: 19px;
    transition: 0.5s ease;
    caret-color: transparent;
    font-size: 120%;
    font-family: "Zilla Slab", serif;
    cursor: pointer;
    border: 1px solid rgb(73, 76, 136); 
}

#Logbutton:hover {
    opacity: 0.7;
}

#nickname {
    position: absolute;
    height: 4.5%;
    width: 21.4%;
    left: 37.8%;
    top: 35%;
    border-radius: 19px;
    text-align: center;
    font-size: 105%;
    font-family: "Zilla Slab", serif;
}

#password {
    position: absolute;
    height: 4.5%;
    width: 21.4%;
    left: 37.8%;
    top: 41%;
    border-radius: 19px;
    text-align: center;
    font-size: 105%;
    font-family: "Zilla Slab", serif;
}

#Text {
    position: absolute;
    left: 46%;
    top: 24%;
    font-size: 250%;
    color: azure;
    height: 1%;
    font-family: "Playfair Display", serif;
    cursor: default;
}

#Forgot {
    position: absolute;
    left: 39%;
    top: 55%;
    height: 1%;
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: 0.5s;
    text-decoration: none;
}

#reg {
    position: absolute;
    left: 49%;
    top: 55%;
    height: 1%;
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: 0.5s;
    text-decoration: none;
}

#reg:hover {
    opacity: 0.5;
}

#Forgot:hover {
    opacity: 0.5;

}

@media (max-width: 480px) {
    #Box {
        left: 14%;
        width: 71.3%;
    }

    #Logbutton {
        left: 17.8%;
        width: 64.4%;
    }

    #Text {
        left: 36%;
    }

    #Forgot {
        left: 36%;
    }

    #reg {
        left: 29%;
        top: 59%;
    }

    #nickname {
        width: 63.4%;
        left: 17.8%;
    }

    #password {
        width: 63.4%;
        left: 17.8%;
    }
}




