@media (max-width: 1400px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 768px) {

}

@media (max-width: 640px) {

}

* {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background-image: url(https://4kwallpapers.com/images/walls/thumbs_3t/19798.jpg);
    background-size: cover;
}

#Box {
    position: absolute;
    left: 37%;
    background-color: 255, 255, 255, 0.3;
    height: 30%;
    width: 23.3%;
    top: 21%;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgb(0, 0, 0);
    transition: 0.8s ease;
}

#Box:hover {
    backdrop-filter: blur(5px);
}

#Email {
    position: absolute;
    height: 4.5%;
    width: 21.4%;
    left: 37.8%;
    top: 34%;
    border-radius: 19px;
    text-align: center;
    font-size: 105%;
    font-family: "Zilla Slab", serif;
}

#Text {
    position: absolute;
    left: 41.5%;
    top: 24%;
    font-size: 250%;
    color: azure;
    height: 1%;
    font-family: "Playfair Display", serif;
    cursor: default;
}

#Send {
    position: absolute;
    left: 46.5%;
    top: 43%;
    height: 1%;
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: 0.5s;
    text-decoration: none;
}

#Send:hover {
    opacity: 0.5;
}